{% extends 'bookcase/base.html' %}

{% block title %}
Author
{% endblock %}

{% block body %}
    <div class="row">
        <div class=" col-md-2 img-responsive face">
        {% if author.face %}
            {{author.face}}
        {% else %}
            <img src="http://placehold.it/150x200">
        {% endif %}
        </div>
        <div class="col-md-10 author-info">
            <h2>{{ author.first_name }} {{author.second_name}}</h2>
            {% if author.active %}
                <p>(active)</p>
            {% endif %}
            </h2>
            <p>{{author.biography}}</p>
        </div>
    </div>
        <div class="row">
                <h3 class="section">Author's achievements</h3>
                <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Genre</th>
                        <th>Published</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for book in authors_books%}
                    <tr>
                        <td><a href="{% url 'bookcase:detail' book.id %}">{{book.title}}</a></td>
                        <td> </td>
                        <td>1995</td>
                        <td>5.0</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
{% endblock%}


